##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace

##############################
## Maven
##############################
target/

##############################
## Local config
##############################
src/main/resources/config/application.yaml

